body {
    background-color: #D8C99B;
    text-align: center;
}
#Image1{
    float:none;
}
#container{
    width:100%;
    text-align: center;
}
h1 {
    color: #4C3B07;
}
h2 {
    color: #4C3B07;
    font-size: 20px;
}
#controles {
    text-align: center;
    float: none;
    clear: both;
}
hr {
    border: 1px solid #83654C;
    width: 50%;
}
#TextBox2, #TextBox1 {
    padding: 10px;
    border-radius: 25px;
}
#Button1 {
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    color: whitesmoke;
    background-color: #A68970;
    text-align: center;
    transition: all 0.2s;
    height: 30px;
    width: 120px;
    font-size: 15px;
}

   

    /*Seccion: Prácticas Prepofesionales*/

#documento {
    background-color: white;
    margin-left: 410px;
    margin-right: 410px;
    border: 30px;
    text-align: left;
    padding: 55px;
}
#txtCarrera1, #txtCarrera2 {
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
}
#documento * {
    font-size: 13px;
    

}
#documento {
    font-size: 13px;
}
    #txtFechaHeader{
        float:left;
        margin-left:5px;
    }
#panelModalBusquedaEst {
    border-radius: 25px;
    border: 3px groove #807569;
    background-color: #D8C99B;
    margin:auto;
}
#GridView1 {
    font-size: 12px;
    margin: auto;
}
#botonSeleccionar{
    color:darkred;
}
.btnBuscar {
    border-radius: 2em;
    text-decoration: none;
    color: whitesmoke;
    background-color: #A68970;
    text-align: center;
    margin-bottom:20px;
    padding: 2px;
    font-size: 15px;
}
#txtAnio, #txtAnio1, #txtAnio1 {
    width: 45px;
}
.noBorder {
    -webkit-appearance: none;
    text-align: center;
    width: auto;
    padding-left: 2px;
    padding-right: 2px;
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid;
}
    .noBorder:focus {
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 1px solid;
    }

    /*Estilos Formulario Reingreso*/
#Button4 {
    border-radius: 2em;
    text-decoration: none;
    color: whitesmoke;
    background-color: #A68970;
    text-align: center;
    margin-bottom: 20px;
    padding: 2px;
    font-size: 15px;
}
#labelEstado {
    color: #644728;

}