body {
    background-color: #D8C99B;
    text-align:center;
}
/*Estilos Index*/
#tituloIndex {
    float: left;
    border: 3.2px solid;
    border-color: #916941;
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 90%;
    text-align:center;
    height: auto;
    margin-right: 50px;
    margin-left: 50px;
}

#labelTituloIndex {
    font-size: 40px;
    color: #784715;
    display:block;
}

.panelResoluciones {
    float:left;
    padding: 5px;
    width:30%;
}
.labelResol {
  margin:auto;
    font-size: 31px;
    color: #643B11;
    
}

.resoluciones {
    text-decoration: none;
    float: left;
    color: #975109;
    font-size: 21px;
}
    .resoluciones:hover {
        color: #6E3C08;
    }
#label1 {
    margin-left: 250px;
    
}
td {
    text-align: center;
   height:55px;
}
table {
    border: none;
    margin: auto;
}
table * {
    text-align: center;
    border: none;
   
}
tr:nth-child(even) {
    background-color: rgba(184, 101, 18,0.12);
}
